<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ECommerce BDD Suite"
       parallel="false"
       thread-count="1">

    <test name="Cucumber Features">
        <classes>
            <class name="com.ecommerce.framework.runners.TestRunner"/>
        </classes>
    </test>
</suite>
